flows.json
[{"id":"6fb1b135.0a064","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"6fb1b135.0a064","name":"","active":true,"console":"false","complete":"false","x":650,"y":160,"wires":[]},{"id":"b14e47b0.4d8068","type":"ibmiot in","z":"6fb1b135.0a064","authentication":"apiKey","apiKey":"b3c446f5.063df8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":160,"wires":[["29d1680d.695608","a283e864.1d0fd8","1a176be4.7e76a4"]]},{"id":"29d1680d.695608","type":"function","z":"6fb1b135.0a064","name":"jarPer","func":"global.set('jarPer',msg.payload.jarPer)\n\nmsg.payload=msg.payload.jarPer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[["f2f2649a.0d0d98"]]},{"id":"b448ff42.a0444","type":"http in","z":"6fb1b135.0a064","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":380,"wires":[["5382f4b7.d9dc8c"]]},{"id":"b20414c.42421e8","type":"http response","z":"6fb1b135.0a064","name":"","statusCode":"","headers":{},"x":670,"y":380,"wires":[]},{"id":"5382f4b7.d9dc8c","type":"function","z":"6fb1b135.0a064","name":"data","func":"msg.payload={'jarPer':global.get(\"jarPer\"),'gasWeight':global.get(\"gasWeight\"),'gasLeak':global.get(\"gasLeak\")}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":380,"wires":[["b20414c.42421e8"]]},{"id":"6a1f2e7f.1dc3e","type":"http in","z":"6fb1b135.0a064","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":540,"wires":[["b34a20cf.e9d6"]]},{"id":"f64df58e.bb2718","type":"http response","z":"6fb1b135.0a064","name":"","statusCode":"","headers":{},"x":710,"y":540,"wires":[]},{"id":"b34a20cf.e9d6","type":"function","z":"6fb1b135.0a064","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":540,"wires":[["f64df58e.bb2718","4abc73e.c25348c","8ecf6d1d.aac6b"]]},{"id":"4abc73e.c25348c","type":"debug","z":"6fb1b135.0a064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":460,"wires":[]},{"id":"8ecf6d1d.aac6b","type":"ibmiot out","z":"6fb1b135.0a064","authentication":"apiKey","apiKey":"b3c446f5.063df8","outputType":"cmd","deviceId":"001","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":600,"wires":[]},{"id":"a283e864.1d0fd8","type":"function","z":"6fb1b135.0a064","name":"gasWeight","func":"global.set('gasWeight',msg.payload.gasWeight)\nmsg.payload=msg.payload.gasWeight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":160,"wires":[["f2f2649a.0d0d98"]]},{"id":"1a176be4.7e76a4","type":"function","z":"6fb1b135.0a064","name":"gasLeak","func":"global.set('gasLeak',msg.payload.gasLeak)\nmsg.payload=msg.payload.gasLeak\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["f2f2649a.0d0d98"]]},{"id":"b3c446f5.063df8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]